@model BakkalUygulamasi.entity.Data.Sati
<h1 class="h3 mt-4">Satış Güncelle</h1>
<hr />
<div class="w-100">
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Personel" asp-action="SatisGuncelle" method="POST">
                <input type="hidden" name="satisId" value="@Model.SatisId" />

                <div class="form-group row">
                    <label asp-for="@Model.STarih" class="col-sm-2 col-form-label"><b>Satış Tarihi</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.STarih" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.SDurum" class="col-sm-2 col-form-label"><b>Satış Durumu</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.SDurum" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.KullaniciId" class="col-sm-2 col-form-label "><b>Satış Yapan Kullanıcı Id</b></label>
                    <div class="col-sm-10 ">
                        <input class="form-control" asp-for="@Model.KullaniciId" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}
