@model BakkalUygulamasi.entity.Data.Urun
<h1 class="h3 mt-4">Ürün Ekle</h1>
<hr />
<div class="w-100">
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Personel" asp-action="UrunEkle" method="POST">
                <div class="form-group row">
                    <label asp-for="@Model.UAdi" class="col-sm-2 col-form-label"><b>Ürün İsmi</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UAdi" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.UBarkodu" class="col-sm-2 col-form-label"><b>Ürün Barkodu</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UBarkodu" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.UUretimTarihi" class="col-sm-2 col-form-label"><b>Ürün Üretim Tarihi</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UUretimTarihi" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.UTuketimTarihi" class="col-sm-2 col-form-label"><b>Ürün Tüketim Tarihi</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UTuketimTarihi" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.UFiyat" class="col-sm-2 col-form-label"><b>Ürün Fiyatı</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UFiyat" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.UAgirlik" class="col-sm-2 col-form-label"><b>Ürün Ağırlığı</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.UAgirlik" />

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.URengi" class="col-sm-2 col-form-label"><b>Ürün Rengi</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.URengi" />

                    </div>
                </div>

                <div>
                    <label for="Marka" ><b>Ürüne Ait Kategori Seç</b></label>
                    @for (int i = 0; i < ViewBag.Kategoris.Count; i++)
                    {
                        <input type="hidden" name="Kategoris[@i].KategoriId" value="@ViewBag.Kategoris[@i].KategoriId" />
                        <input type="hidden" name="Kategoris[@i].KAdi" value="@ViewBag.Kategoris[@i].KAdi" />}

                    <select asp-for="@Model.KategoriId" class="col-sm-6 ml-2 col-form-label">

                        @if (ViewBag.Kategoris.Count > 0)
                        {
                            @foreach (var item in ViewBag.Kategoris)
                            {
                                <option value="@item.KategoriId">@item.KAdi</option>
                            }}
                    </select>
                </div>
                <div>
                    <label for="Marka"><b>Ürüne Ait Marka Seç</b></label>
                    @for (int i = 0; i < ViewBag.Markas.Count; i++)
                    {
                        <input type="hidden" name="Markas[@i].MarkaId" value="@ViewBag.Markas[@i].MarkaId" />
                        <input type="hidden" name="Markas[@i].MAdi" value="@ViewBag.Markas[@i].MAdi" />}

                    <select asp-for="@Model.MarkaId" class="col-sm-6 ml-4 my-2 col-form-label">

                        @if (ViewBag.Markas.Count > 0)
                        {
                            @foreach (var item in ViewBag.Markas)
                            {
                                <option value="@item.MarkaId">@item.MAdi</option>
                            }}
                    </select>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.StokId" class="col-sm-2 col-form-label"><b>Stok Id</b></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="@Model.StokId" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}

